input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
}

input[type="file"] {
  padding: 0;
}

.head2 {
  position: absolute;
  top: 5%;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid;
  width: 25vw;
  height: 35vh;
  margin-top: 5%;
  margin-left: 35%;
  background-color: #3d3151;
}

.message {
  position: absolute;
  bottom: 0%;
  height: 3vh;
  color: #f0908d;
  font-size: 1.5vw;
  font-weight: bold;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 15vw;
}

.label {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 8px;
}

.button {
  margin-left: 16px;
  font-size: 1vw;
  background-color: whitesmoke;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}