.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.title2 {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  color: #3d3151;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  margin: 0;
}

.main {
  border: solid;
  width: 80%;
  min-width: 300px;
  max-width: 500px;
  border-radius: 20px;
  margin: 5%;
  background-color: #3d3151;
}

.main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.title input {
  width: 10rem;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.director select {
  width: 10rem;
  text-wrap: wrap;
}

.select {
  border-radius: 5%;
  /* width: 100%; */
  min-width: 7.5rem;
  height: 7rem;
  padding: 5px;
  text-wrap: wrap;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.genres, .director, .actor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}



.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plotinput {
  width: 80%;
  height: 15vh;
}

.btn7 {
  background-color: whitesmoke;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.75rem;
  width: 5rem;
  padding: 0.5rem;
}