.container2 {
  border: solid;
  width: 20vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
  position: relative;
  background-color: #3d3151;
}

.btn4 {
  position: absolute;
  height: 30px;
  bottom: 10px;
  right: 21%;
  border-radius: 10px;
  font-weight: bold;
  background-color: whitesmoke;
  font-size: 1.2vw;
}

.h1 {
  position: absolute;
  top: 3%;
  font-size: 1.7vw;
}

.label {
  position: absolute;
  color: whitesmoke;
  top: 15%;
  left: 30%;
  font-size: 1.5vw;
}

.textarea {
  position: absolute;
  height: 20vh;
  width: 16vw;
  border-radius: 5%;
  left: 10%;
  top: 30%;
}

.select {
  position: absolute;
  top: 13%;
  left: 55%;
  height: 10%;
  border-radius: 25%;
}