.header {
  border-style: solid;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 80px;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 250px;
}

.bottom {
  border-style: solid;
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
}

.credits {
  border-style: solid;
  width: 30%;
  margin-right: 5%;
  text-align: center;
}

.header2 {
  border-style: solid;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
}

p {
  margin: 5%;
}

.data {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

h1 {
  margin-top: 0%;
  margin-bottom: 0%;
}

.plot {
  text-align: center;
  border-style: solid;
  width: 50%;
  margin-left: 5%;
  height: 250px;
  overflow-y: hidden;
  overflow-y: scroll;
}

.bottom {
  overflow-y: hidden;
  overflow-y: scroll;
  height: 375px;
}