.header {
  border-style: solid;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: fit-content;
  min-width: 600px;
  background-color: #3d3151;
}

.top {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bottom {
  border-style: solid;
  height: 400px;
}

.credits {
  border-style: solid;
  width: 30%;
  margin-right: 5%;
  text-align: center;
  background-color: #3d3151;
}


p {
  margin: 5%;
}

.data {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

h1 {
  margin-top: 0%;
  margin-bottom: 0%;
}

.header2 {
  border-style: solid;
  text-align: center;
  width: 20%;
  margin-left: 58%;
  margin-bottom: 2%;
  background-color: #3d3151;
}

.bottom {
  display: flex;
  height: 400px;
  width: 35%;
  margin-left: 50%;
  margin-top: 1.5%;
  background-color: #3d3151;

}

.header3 {
  border-style: solid;
  text-align: center;
  width: 20%;
  margin-left: 15%;
  margin-bottom: 2%;
  background-color: #3d3151;
}

.plot {
  text-align: center;
  border-style: solid;
  width: 40%;
  margin-left: 5%;
  height: 400px;
  overflow-y: hidden;
  overflow-y: scroll;
  background-color: #3d3151;
}

.commentbox {
  
}

.comment {
  width: 60%;
  margin-left: 4%;
  margin-top: 2%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.box {
  position: left;
  width: fit-content;
  position: relative;
  right: -4%;
  top: -10%;
  margin-right: 0%;

}

.left {
  width: 110vw;
  position: absolute;
}

.right {
  width: 110vw;
  position: absolute;
}