.flipCard {
  background-color: transparent;
  width: 185px;
  height: 250px;
  perspective: 1000px;
  margin-top: 2%;
}

.flipCard :hover {
  border: gold solid;
}

img {
  width: 185px;
  height: 250px;
  border-radius: 10px;
  border: solid black;
}

.addFav {
  position: absolute;
  border-radius: 30px;
  margin-right: 70%;
  margin-top: 120%;
}

.addWatch {
  position: absolute;
  border-radius: 30px;
  margin-left: 70%;
  margin-top: 120%;
}

.rating, .date, .plot {
  font-weight: bold;
}