.flipCard {
  background-color: transparent;
  width: 185px;
  height: 250px;
}

.flipCard :hover {
  border: 5px gold solid;
}

img {
  width: 185px;
  height: 250px;
  border-radius: 10px;
  border: solid black;
}

.addFav {
  border-radius: 30px;
}

.addWatch {
  border-radius: 30px;
}

.rating, .date, .plot {
  font-weight: bold;
}