.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

option {
  text-align: center;
}

.twin {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 900px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollA {
  overflow-y: auto;
  height: 90%;
}

.scrollB {
  overflow-y: auto;
  height: 90%;
}

.genre {
  height: 30px;
  width: 50%;
  border-radius: 5%;
  background-color: whitesmoke;
  font-weight: bold;
}

.genres {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90%;
  text-align: center;
  align-items: center;
  overflow-y: hidden;
}

.genreseach {
  background-color: #3d3151;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid;
  font-weight: bold;
  width: 150px;
  border-color: black;
  margin-bottom: 5%;

}

.btn6 {
  background-color: #3d3151;
  color: whitesmoke;
}

.wrap {
  width: 150px;
  overflow-y: auto;
}