.container {
  top: 0; 
  z-index: 100;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed; 
  padding: 14px 21px;
  align-items: center;
  justify-content: space-between;
  background-color: #3d3151;
  color: whitesmoke;
  min-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.home {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home h1 {
  margin: 0;
}

.navlink {
  color: whitesmoke;
}

.container img {
  width: 50px;
}

.container ul {
  margin: 0;
  display: flex;
  list-style: none;
  font-size: 1.25rem;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
}

.loggedIn {
  width: 50%;
}

.header {
  text-align: left;
}

img {
  background: black;
  height: fit-content;
}

@media only screen and (max-width: 1450px) {
  .loggedIn {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .container ul {
    padding-left: 0px;
    font-size: 0.75rem;
  }
  .slogan{
    display: none;
  }

}

@media only screen and (max-width: 750px){
  .container {
    height: 9rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container ul {
    width: 100%;
    /* margin: 1rem 0; */
    justify-content: space-between;
    padding: 0 1rem;
  }
}