.main {
  border: solid;
  width: 35vw;
  height: 60vh;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
  position: relative;
  background-color: #3d3151;
  position: relative;
}

.top {
  position: relative;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 0vh;
}

.title2 {
  text-align: center;
  background-color: #3d3151;
}

.title {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 2%;
}

.titleinput {
  width: 22vw;
  text-align: center;
  border-radius: 5%;
}

.select {
  border-radius: 5%;
  width: 9vw;
  height: 7vh;
}

.select2 {
  position: absolute;
  border-radius: 5%;
  top: 120%;
  left: -10%;
  width: 8vw;
  height: 20vh;
}

.genres2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 10%;
  top: 25%;
}

.middle {
  position: absolute;
  margin-top: 25%;
  width: 25vw;
  height: 7vh;
}

.actor {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10vw;
  right: 5%;
  height: 45vh;
}

.director {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 10%;
  width: 10vw;
  height: 15vh;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 35vw;
  height: 30vh;
}

.plott {
  text-align: center;
  font-weight: bold;
  font-size: 1.5vw;
}

.plotinput {
  width: 30vw;
  height: 15vh;
}

.btn7 {
  background-color: whitesmoke;
  border-radius: 5%;
  width: 7vw;
  height: 3vh;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 1vw;
}