/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flipCard {
  width: 185px;
  height: 278px;
  margin: 0 10px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flipCardInner {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipCard:hover .flipCardInner,
.flipCard:focus-within .flipCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront, .flipCardBack {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipCardFront {
  transform: rotateY(0deg);
  z-index: 2;
  display: flex;
  align-items: flex-end;
}

.flipCardFront h4 {
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  width: 100%;
  text-align: center;
  margin: 0;
}

/* Style the back side */
.flipCardBack {
  background-color: #3d3151;
  color: white;
  transform: rotateY(180deg);
  font-size: 0.85rem;
  border: solid whitesmoke;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
}

.name {
  font-weight: bolder;
  font-size: 1rem;
}

.skill {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.cardData label, .movies label {
  font-style: italic;
  font-size: 0.75rem;
}

.movies {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flipCardBack ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.25rem 1.25rem;
  padding: 0;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flipCardBack button {
  border-radius: 10px;
  width: 4.25rem;
  padding: 0.45rem;
  color: #3d3151;
  font-size: 0.75rem;
}
