input[type="file"] {
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid;
  width: 28vw;
  height: 40vh;
  margin-top: 5%;
  margin-left: 35%;
  background-color: #3d3151;
}

.message {
  margin-top: 0;
  height: 20px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27vw;
  height: 25vh;
}

.input {
  width: 22vw;
  height: 21vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 1.1vw;
}

.textbox {
  width: 16vw;
}

.button {
  margin-left: 2vw;
}