*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

.inline {
  display: inline;
}