.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  position: relative;
  height: 40vh;
}

.h1 {
  text-decoration: underline;
  font-size: 1.5vw;
}

.rating {
  font-size: 1vw;
}

.text {
  height: 20vh;
  width: 10vw;
  border-radius: 5%;
  text-align: center;
}

select {
  height: 2vh;
  border-radius: 25%;
}

.btn5 {
  border-radius: 10%;
  height: 3vh;
  background-color: whitesmoke;
  font-weight: bold;
  font-size: .8vw;
}