.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
  margin-left: 10%;
  position: relative;

}

.h1 {
  text-decoration: underline;
}

textarea {
  height: 200px;
  width: 150px;
  border-radius: 5%;
  text-align: center;
}

select {
  height: 20%;
  border-radius: 25%;
}

.btn5 {
  border-radius: 10%;
  height: 30px;
  background-color: whitesmoke;
  font-weight: bold;
}